@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #181716;
}

body {
  font-family: 'Open Sans', sans-serif;
}


.top {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #F55331;
  width: 100%;
  padding: 1vh;
  height:9vh;

  box-shadow: 3px 3px 5px 1px #9E4039;
}

.main {

  width: 100%;
  padding-top: 12vh;
  display: flex;
  background-color: #F57530;

}

.menuBtn {
  margin: auto 0 auto 30px;
  height: 50%;
}

.appLogo {
  height: 100%;
  margin: auto;
  align-self: center;
  filter: invert(1);
}

.Sidebar {

  position: fixed;
  width: 15%;
  height: 80vh;
  margin-top: 1vh;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 3px 3px 5px 1px #9E4039;

  background-color: #fffefc;

}

.Sidebar menu {

  text-align: center;
  padding: 0 3.5%;
  font-size: 1.4em;
  list-style-type: none;
  line-height: 3em;
}

.Sidebar a {
  color: #181716;
  font-weight: 300;
}

.Content {

  padding-left: 15vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 85%;

}

.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 5vh;
  background-color:#F55331;
  box-shadow: 3px 3px 15px 1px #9E4039;
  color: #fffefc;;
}

.Footer a:link,
.Footer a:visited,
.Footer a:hover,
.Footer a:active {
  color: #fffefc;
}

.RecipeBox {
  align-self: center;
  border: 1px solid #dddddd;
  margin: 20px;
  height: 20vh;
  width: 80%;
  background-color: #fffefc;
  box-shadow: 3px 3px 5px 1px #9E4039;
  display: flex;
  border-radius: 10px;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}


.RecipeBox-Img {

  border-radius: 5px;
  width: 35%;
}

.RecipeBox-Txt {
  display: flex;
  flex-direction: column;
  line-height: 15px;
}

.RecipeBox-Txt h2 {
  font-weight: 600;
}

.RecipeBox-Txt h2, p{
  text-align: start;
}

.RecipeBox-Btn-Delete{
  background-color: #ff2c2c;
  color: #fffefc;
  border: 0;
  border-radius: 0.5em;
  font-size: 1.2em;
  padding: 10px;
}