@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #181716;

  
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F57530;
}


.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #F55331;
  padding: 1vh;
  height:9vh;
  align-items: center;

  box-shadow: 3px 3px 5px 1px #9E4039;
}



.menuBtn {
  height: 50%;
  margin-left: 1vw;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #F57530;
  box-shadow: 3px 3px 5px 1px #9E4039;
}

.appLogo {
  margin: auto 43vw;
  height: 100%;
  filter: invert(1);

}

.main {

  width: 100%;
  padding-top: 12vh;
  display: flex;

}

.Sidebar {

  position: fixed;
  width: 15%;
  height: 80vh;
  margin-top: 1vh;
  transition: all .5s linear;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 3px 3px 5px 1px #9E4039;

  background-color: #fffefc;
  transition: all .25s linear;

}

.Sidebar menu {

  text-align: center;
  padding: 0 3.5%;
  font-size: 1.4em;
  list-style-type: none;
  line-height: 3em;
}

.Sidebar a {
  color: #181716;
  font-weight: 300;
}

.Content {

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 85%;
  transition: all .25s linear;

}

.Footer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  background-color:#F55331;
  box-shadow: 3px 3px 15px 1px #9E4039;
  color: #fffefc;;
}

.Footer p {
  margin-top: 2vh;
}

.Footer a:link,
.Footer a:visited,
.Footer a:hover,
.Footer a:active {
  color: #fffefc;
}

.RecipeBox {
  align-self: center;
  border: 1px solid #dddddd;
  margin: 15px;
  height: 20vh;
  width: 70%;
  background-color: #fffefc;
  box-shadow: 3px 3px 5px 1px #9E4039;
  display: flex;
  border-radius: 10px;
  padding: 0 30px;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.AboutPage {

  align-self: center;
  border: 1px solid #dddddd;
  margin: 20px;
  height: 20vh;
  width: 80%;
  background-color: #fffefc;
  box-shadow: 3px 3px 5px 1px #9E4039;
  display: flex;
  border-radius: 10px;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

}

.RecipeBox-Img {

  border-radius: 5px;
  width: 20%;
}

.RecipeBox-Txt {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  justify-content: center;
}

.RecipeBox-Txt h2 {
  font-weight: 600;
}

.RecipeBox-Txt h2, p{
  text-align: start;
}

.RecipeBox-Btn-Delete{
  background-color: #ff2c2c;
  color: #fffefc;
  border: 0;
  border-radius: 0.5em;
  font-size: 1.2em;
  padding: 10px;
}

.hidden {
  margin-left: -17%;
  overflow: hidden;
}

.Content-toggle {
  padding-left: 15vh;
}